<form action="<%= action %>" method="post">
    Judul Buku : <input type="text" name="judul_buku" value="<%= judul_buku %>"></br>
    Tahun : <input type="text" name="tahun" value="<%= tahun %>"></br>
    Penerbit : <input type="text" name="penerbit" value="<%= penerbit %>"></br>
    Pengarang : <input type="text" name="pengarang" value="<%= pengarang %>"></br>
    <input type="submit" name="add" value="<%= button %>">
</form>